<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.zboyn.car.mapper.DepartmentMapper">
    <resultMap id="DepartmentResultMap" type="com.neu.zboyn.car.model.Department">
        <id property="deptId" column="dept_id" />
        <result property="deptName" column="dept_name" />
        <result property="parentId" column="parent_id" />
        <result property="status" column="status" />
    </resultMap>

    <select id="getDepartment" resultMap="DepartmentResultMap">
        SELECT *
        FROM department
        ORDER BY dept_id
    </select>

    <select id="getZBYDepartment" resultType="com.neu.zboyn.car.model.Department">
        SELECT *
        FROM department
        <where>
            <if test="deptName != null and deptName != ''">
                AND dept_name LIKE CONCAT('%', #{deptName}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <insert id="insertDepartment" parameterType="com.neu.zboyn.car.model.Department">
        INSERT INTO department (parent_id, dept_name, status, remark)
        VALUES (#{parentId}, #{deptName}, #{status}, #{remark})
    </insert>

    <update id="updateDepartment" parameterType="com.neu.zboyn.car.model.Department">
        UPDATE department
        SET parent_id = #{parentId},
            dept_name = #{deptName},
            status = #{status},
            remark = #{remark}
        WHERE dept_id = #{deptId}
    </update>

    <delete id="deleteDepartment" parameterType="int">
        DELETE FROM department WHERE dept_id = #{deptId}
    </delete>
</mapper>
