<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neu.zboyn.car.mapper.UserManageMapper">
    <insert id="create">
        INSERT INTO user (username, nickname, dept_id, phone_number, status, remark)
        VALUES (#{username}, #{nickname}, #{deptId}, #{phoneNumber}, #{status}, #{remark})
    </insert>

    <update id="update">
        UPDATE user
        SET
        username = #{userDto.username},
        nickname = #{userDto.nickname},
        dept_id = #{userDto.deptId},
        phone_number = #{userDto.phoneNumber},
        status = #{userDto.status},
        remark = #{userDto.remark}
        WHERE
        user_id = #{userId}
    </update>

    <update id="resetPassword">
        UPDATE user
        SET password = "123456"
        WHERE user_id = #{userId}
    </update>

    <update id="changeUserRole">
        UPDATE user_role
        SET role_id = #{roleId}
        WHERE user_id = #{userId}
    </update>

    <delete id="delete">
        DELETE FROM user WHERE user_id = #{userId}
    </delete>

    <select id="selectUserList" resultType="com.neu.zboyn.car.model.User">
        SELECT
        u.user_id,
        u.username,
        u.nickname,
        u.dept_id,
        d.dept_name,
        u.phone_number,
        u.status,
        u.create_time,
        u.remark,
        GROUP_CONCAT(r.role_name) AS role_names
        FROM user u
        LEFT JOIN department d ON u.dept_id = d.dept_id
        LEFT JOIN user_role ur ON u.user_id = ur.user_id
        LEFT JOIN role r ON ur.role_id = r.role_id
        <where>
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                AND u.username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND u.nickname LIKE CONCAT('%', #{nickname}, '%')
            </if>
            <if test="deptId != null and deptId != ''">
                AND u.dept_id = #{deptId}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND u.phone_number LIKE CONCAT('%', #{phoneNumber}, '%')
            </if>
            <if test="status != null and status != ''">
                AND u.status = #{status}
            </if>
            <if test="startTime != null and startTime != ''">
                AND u.create_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND u.create_time &lt;= #{endTime}
            </if>
        </where>
        GROUP BY u.user_id
        ORDER BY u.user_id ASC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="selectUserCount" resultType="long">
        SELECT COUNT(DISTINCT u.user_id)
        FROM user u
        LEFT JOIN department d ON u.dept_id = d.dept_id
        LEFT JOIN user_role ur ON u.user_id = ur.user_id
        LEFT JOIN role r ON ur.role_id = r.role_id
        <where>
            <if test="userId != null and userId != ''">
                AND u.user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                AND u.username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="nickname != null and nickname != ''">
                AND u.nickname LIKE CONCAT('%', #{nickname}, '%')
            </if>
            <if test="deptId != null and deptId != ''">
                AND u.dept_id = #{deptId}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND u.phone_number LIKE CONCAT('%', #{phoneNumber}, '%')
            </if>
            <if test="status != null and status != ''">
                AND u.status = #{status}
            </if>
            <if test="startTime != null and startTime != ''">
                AND create_time >= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND create_time &lt;= #{endTime}
            </if>
        </where>
    </select>


</mapper>